<template>
  <div class="<%= name %>">{{ message }}</div>
</template>

<script>
export default {
  name: '<%= cpnName %>',
  components: {},
  mixins: [],
  props: {},
  data() {
    return {
      message: '<%= name %>',
    }
  },
  created() {},
  mounted() {},
  computed: {},
  methods: {},
}
</script>

<style lang="scss" scoped>
.<%= name %> {
  box-sizing: border-box;
}
</style>
